# Docker Compose Profiles:
# - Sobe banco local + apps: COMPOSE_PROFILES=app,db
# - Uusa banco externo, sobe apenas apps: COMPOSE_PROFILES=app
COMPOSE_PROFILES=app,db

# Environment (development | staging | production)
APP_ENV=development

# Database (Local / Container)
DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=financial_db
DB_PORT=5432

# Backend API
PORT=3001
# Chave JWT obrigatória com no mínimo 32 caracteres seguros
JWT_SECRET=substitua_por_uma_chave_secreta_com_minimo_32_caracteres_aleatorios
JWT_EXPIRATION=1d
# Desabilitar cadastro público de novos usuários (true para desativar, false para permitir)
DISABLE_REGISTRATION=false


# Frontend Web
NEXT_PUBLIC_API_URL=http://localhost:3001
