# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=financial_db
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/financial_db?schema=public

# Backend API
PORT=3001
JWT_SECRET=supersecretjwtkey1234567890
JWT_EXPIRATION=1d

# Frontend Web
NEXT_PUBLIC_API_URL=http://localhost:3001
