# Docker Compose Profiles:
# - Sobe banco local + apps: COMPOSE_PROFILES=app,db
# - Uusa banco externo, sobe apenas apps: COMPOSE_PROFILES=app
COMPOSE_PROFILES=app,db

# Environment (development | staging | production)
APP_ENV=development

# Database (Local / Container)
DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=financial_db
DB_PORT=5432

# Backend API
PORT=3001
JWT_SECRET=supersecretjwtkey1234567890
JWT_EXPIRATION=1d

# Frontend Web
NEXT_PUBLIC_API_URL=http://localhost:3001
